/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    font-weight: 800;
    color: #000;
    font-size: 4em;
}

h2 {
    font-weight: 300;
    color: #000;
    font-size: 3em;
    text-align: center;
}

h3 {
    font-weight: 300;
    color: #000000;
    font-size: 1.5em;
    letter-spacing: 0.04em;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    text-align: left;
    max-width: 800px;
    margin: auto;
    line-height: 1.5em;
  }  

/* Navigation Styles */
nav {
    background-color: #3c3c3c;
    color: #fff;
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 100;
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin-left: 0.8rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #6b6b6b;
    color: #fff;
}

nav a.active {
    background-color: #65656556;
    color: #ffffff;
    font-weight: bold;
}

/* Section Styles */
section {
    margin: 0 auto;
    background-color: #fff;
    line-height: 1.5;
    position: relative;
}

.sample-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    padding: 20px;
    box-sizing: border-box;
    max-width: 90%;
}

.fullmap-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 2rem;
    padding: 20px;
    box-sizing: border-box;
    max-width: 70%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item:hover {
    transform: scale(1.01)
}

.gallery-item h3 {
    position: relative;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }

.fullscreen img {
    object-fit: contain;
    max-width: 100%;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    position: relative;
    width: 100%;
    margin-top: 100px;
  }
  
  /* Scroll to Top Button Styles */
  #scrollToTopBtn {
    position: relative;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #fa-solid {
    background-color: #4285f4;
    color: #fff;
  }
  
  #scrollToTopBtn-text {
    color: #ffffff;
    margin-left: 15px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer p {
    color: #ffffff;
    font-weight: 300;
    position: center;
    text-align: center;
    line-height: 1.5em;
    margin: 2% 35% 0% 35%;
  }
