/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    font-weight: 800;
    color: #000;
    font-size: 4em;
}

h2 {
    font-weight: 300;
    color: #000;
    font-size: 3em;
    text-align: center;
}

h3 {
    font-weight: 300;
    color: #000000;
    font-size: 1.5em;
    letter-spacing: 0.04em;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    text-align: left;
    max-width: 800px;
    margin: auto;
    line-height: 1.5em;
  }  

/* Navigation Styles */
nav {
    background-color: #3c3c3c;
    color: #fff;
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 10px 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 100;
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin-left: 0.8rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #6b6b6b;
    color: #fff;
}

nav a.active {
    background-color: #65656556;
    color: #ffffff;
    font-weight: bold;
}

/* Section Styles */
section {
    margin: 0 auto;
    background-color: #fff;
    line-height: 1.5;
    position: relative;
}

.sample-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    padding: 20px;
    box-sizing: border-box;
    max-width: 90%;
}

.fullmap-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 2rem;
    padding: 20px;
    box-sizing: border-box;
    max-width: 70%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item:hover {
    transform: scale(1.01)
}

.gallery-item h3 {
    position: relative;
}

.lightbox {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .lightbox-content {
    display: block;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
  }
  
  .close-x {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .close-area {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  position: relative;
  width: auto;
  margin-top: 5rem;
}

/* Scroll to Top Button Styles */
#scrollToTopBtn {
position: relative;
/* bottom: 10px; */
/* right: 10px; */
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin-top: 2rem;
}

#fa-solid {
background-color: #4285f4;
color: #fff;
}

#scrollToTopBtn-text {
color: #ffffff;
margin-left: 15px;
}

.button-container {
display: flex;
align-items: center;
justify-content: center;
}

.external-sites {
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.external-buttons {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 100px;
}

.external-buttons:hover {
  background-color: #fff;
  color: black;
}

.linkedin {
  background-color: white;
  padding: 1rem;
  margin: auto 0.5rem;
  border: 2px solid white;
  border-radius: 100px;
}

.linkedin img {
  width: 90px;
}

.linkedin:hover {
  background-color: rgba(0, 0, 0, 0.885);
}

.quote {
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  line-height: 1.5em;
  margin: auto;
  padding: 0;
  max-width: 625px;
}

.author {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  margin: auto;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  max-width: 700px;
  padding: 0;
}

@media (max-width: 800px) {
  p {
    margin: 1rem;
  }

  h3 {
    margin: 1rem;
  }
  
  .gallery-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      max-width: 95%;
      margin: auto;
  }

  .sample-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    box-sizing: border-box;
}

.fullmap-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin: 0;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-item:hover {
    transform: scale(1.01)
}

.gallery-item h3 {
    position: relative;
}

.lightbox {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .lightbox-content {
    display: block;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
  }
  
  .close-x {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .close-area {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .quote {
      color: #ffffff;
      font-weight: 300;
      text-align: left;
      line-height: 1.5em;
      margin-bottom: 0;
      padding: 2rem;
  }
  
  .author {
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      line-height: 1.5em;
      margin: auto;
      margin-bottom: 2rem;
      max-width: 700px;
      padding: 0;
  }
}
