/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    margin: 0
}

/* Header Styles */
header {
    background: url('/images/misc/header-1.jpg') center/cover;
    background-position: center center;
    color: #000;
    text-align: center;
    height: 11em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 20px 0 150px 0;
}

header h1 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 3em;
}

header h3 {
    color: rgba(0, 0, 0, 0.898);
    font-size: 2em;
}

.header-container {
    background-color: #ffffff00;
    padding: 0 10px;
    display: inline-block;
}

h1 {
    font-weight: 800;
    color: #000000;
    font-size: 4em;
}

h2 {
    font-weight: 300;
    color: #000;
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-weight: 300;
    color: #000000;
    font-size: 1.5em;
    letter-spacing: 0.04em;
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    font-weight: 300;
    font-size: 1em;
    color: #000000;
    text-align: left;
    line-height: 1.3;
    margin: auto;
  }

li {
    list-style-type: circle;
    font-weight: 300;
    line-height: 1.3;
    padding: 5px 0 5px 0;
}

/* Navigation Styles */
nav {
    background-color: #171717e8;
    color: #fff;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    width: auto;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 100;
    font-size: 0.9em;
    padding: 0.5em 1em;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #6b6b6b;
    color: #fff;
    border-radius: 5px;
}

nav a.active {
    background-color: #65656556;
    color: rgb(254, 203, 107);
    font-weight: bold;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 2em;
    background-color: #fff;
    margin-top: 200px;
    position: relative;
}

#about {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
    padding-top: 3.5rem;
}

#about h2 {
    color: rgb(0, 0, 0);
}

#about h3 {
    color: rgb(0, 0, 0);
}

.imageContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 35%;
}

.contact {
    margin-inline: auto;
}

.contact h3 {
    text-align: center;
}

.downloadResume {
    margin-inline: auto;
}

.downloadResume a {
    background-color: white;
    color: black;
    font-weight: 100;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 100px;
    border: 0px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 9px 0.5px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.downloadResume a:hover {
    background-color: #03224ee3;
    color: rgb(237, 237, 237);
}


.aboutMe {
    padding: 2rem;
    width: 65%;
}

#about img {
    display: block;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.074);
    max-width: 100%;
    margin-inline: auto;
}

@media (max-width: 800px) {
    #about {
        flex-direction: column-reverse;
    }
    .imageContact {
        width: 90%;
    }
    .aboutMe {
        width: 90%;
    }
    #about img {
        max-width: 80%;
    }
}

#portfolio {
    background-color: #303030;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    margin-top: 100px;
    padding-bottom: 10rem;
}

#portfolio h2 {
    color: rgba(235, 182, 83, 0.969);
    text-align: center;
    font-weight: 900;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

.intro {
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    margin: auto;
    max-width: 600px;
}

.filter-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-inline: auto;
    margin-top: 1rem;
}

.filter-buttons button {
    margin: 0.5rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #00000000;
    border: 0.5px solid white;
    box-shadow: 0.8px 0.8px 0.5px 1px white;
    color: white;
    font-size: 0.8em;
}

.filter-buttons button:hover {
    background-color: white;
    color: black;
}

.filter-buttons button.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    max-width: 90%;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 1rem;
}

.item {
    background-color: #00000033;
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 600px;
}

.link {
    text-decoration: none;
}

.link img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: left;
    display: block;
    border-radius: 5px;
    opacity: 95%;
}

.name {
    position: relative;
    margin-top: 0.5rem;
    background-color: #00000051; 
    color: #ffffffca; 
    border-radius: 5px;
    padding: 25px 20px; 
    font-size: 20px; 
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

/* Resume */

.resume {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-inline: auto;
    /* margin-bottom: 2rem; */
    padding-top: 6rem;
    max-width: 1000px;
    column-gap: 6rem;
}

.left-column {
    width: 20%;
}

.section-header-allcaps {
    text-transform:uppercase;
    font-size: 1.5em;
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid black;
    width: 100%
}

.right-column {
    width: 80%;
}

.h3 {
    font-size: 1.9em;
    padding-bottom: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0.8rem;
    border-bottom: 0.5px solid black;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.list li {
    padding: 0.2rem 1.5rem 0.2rem 0.2rem;
}

.resume-block {
    margin-bottom: 4rem;
}

.resume-block__header {
    margin-bottom: 1rem;
}

.resume-block__header h3 {
    font-weight: bold;
    border-bottom: 0.5px solid black;
    padding: 0 0 0.5rem 0;
}

.resume-block__header p {
    font-size: 1.1em;
}

.resume-block__header ul {
    line-height: 1.5em;
}

.resume-block__header-place {
    font-size: 1em;
}

.resume-block__header-date {
    color: rgb(111, 111, 111);
    position: relative;
    margin-left: 45px;
    font-size: 1em;
}

.resume-block__header-date::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 6px; /* Adjust the size of the dot */
    height: 6px; /* Adjust the size of the dot */
    background-color: rgb(255, 255, 255); /* Customize dot color */
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(50%, -50%);
    margin-right: 25px;
}

.softwarelist {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    gap: 3rem;
    row-gap: 0;
}

.viewEsriTranscript {
    margin-inline: left;
    margin: 0;
    padding: 0;
}

.viewEsriTranscript a {
    background-color: white;
    color: black;
    font-weight: 100;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 100px;
    border: 0px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 9px 0.5px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.viewEsriTranscript a:hover {
    background-color: #03224ee3;
    color: rgb(237, 237, 237);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    position: relative;
    width: auto;
    margin-top: 5rem;
  }

  /* Scroll to Top Button Styles */
#scrollToTopBtn {
position: relative;
/* bottom: 10px; */
/* right: 10px; */
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin-top: 2rem;
}

#fa-solid {
background-color: #4285f4;
color: #fff;
}

#scrollToTopBtn-text {
color: #ffffff;
margin-left: 15px;
}

.button-container {
display: flex;
align-items: center;
justify-content: center;
}
  
.external-sites {
    display: flex;
    flex-flow: row wrap;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.external-buttons {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 100px;
}

.external-buttons:hover {
    background-color: #fff;
    color: black;
}

.linkedin {
    background-color: white;
    padding: 0.5rem 1rem;
    margin: auto 0.5rem;
    border: 2px solid white;
    border-radius: 100px;
}

.linkedin img {
    width: 90px;
}

.linkedin:hover {
    background-color: rgba(0, 0, 0, 0.885);
}

.quote {
    color: #ffffff;
    font-weight: 300;
    text-align: left;
    line-height: 1.5em;
    margin: auto;
    padding: 0;
    max-width: 625px;
}

.author {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    line-height: 1.5em;
    margin: auto;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
    max-width: 700px;
    padding: 0;
}

@media (max-width: 800px) {
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        max-width: 95%;
    }

    .item {
        background-color: #00000033;
        padding: 0.5rem;
        border-radius: 5px;
        max-width: 600px;
    }
    
    .link {
        text-decoration: none;
    }
    
    .link img {
        width: 100%;
        height: 100%;
        max-height: 150px;
        object-fit: cover;
        object-position: left;
        display: block;
        border-radius: 5px;
        opacity: 95%;
    }
    
    .name {
        position: relative;
        margin-top: 0.5rem;
        background-color: #00000051; 
        color: #ffffffca; 
        border-radius: 5px;
        padding: 25px 20px; 
        font-size: 20px; 
        text-align: center;
        font-weight: 600;
        font-size: 0.6em;
    }

    .resume {
        display: flex;
        flex-direction: column;
        max-width: 95%;
        padding: 0;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        box-sizing: border-box;
    }
    
    .section-header-allcaps {
        text-transform:uppercase;
        font-size: 1.5em;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid black;
        width: 100%;
    }
    
    .h3 {
        font-size: 1.9em;
        padding-bottom: 0.5rem;
        margin-top: 0px;
        margin-bottom: 0.8rem;
        border-bottom: 0.5px solid black;
    }
    
    .list li {
        padding: 0;
    }
    
    .quote {
        color: #ffffff;
        font-weight: 300;
        text-align: left;
        line-height: 1.5em;
        margin-bottom: 0;
        padding: 2rem;
    }
    
    .author {
        color: #ffffff;
        font-weight: 300;
        text-align: center;
        line-height: 1.5em;
        margin: auto;
        margin-bottom: 2rem;
        max-width: 700px;
        padding: 0;
    }
}